model-importer/src/main/resources/xsd/vmr/datatypes-iso21090-clean.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.exampleURI.com/HeD"
            elementFormDefault="qualified"
            targetNamespace="http://www.exampleURI.com/HeD">

  <xsd:simpleType name="NullFlavor">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="NI">
      </xsd:enumeration>
      <xsd:enumeration value="INV">
      </xsd:enumeration>
      <xsd:enumeration value="OTH">
      </xsd:enumeration>
      <xsd:enumeration value="NINF">
      </xsd:enumeration>
      <xsd:enumeration value="PINF">
      </xsd:enumeration>
      <xsd:enumeration value="UNC">
      </xsd:enumeration>
      <xsd:enumeration value="DER">
      </xsd:enumeration>
      <xsd:enumeration value="UNK">
      </xsd:enumeration>
      <xsd:enumeration value="ASKU">
      </xsd:enumeration>
      <xsd:enumeration value="NAV">
      </xsd:enumeration>
      <xsd:enumeration value="NASK">
      </xsd:enumeration>
      <xsd:enumeration value="QS">
      </xsd:enumeration>
      <xsd:enumeration value="TRC">
      </xsd:enumeration>
      <xsd:enumeration value="MSK">
      </xsd:enumeration>
      <xsd:enumeration value="NA">
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="UpdateMode">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="A">
      </xsd:enumeration>
      <xsd:enumeration value="D">
      </xsd:enumeration>
      <xsd:enumeration value="R">
      </xsd:enumeration>
      <xsd:enumeration value="AR">
      </xsd:enumeration>
      <xsd:enumeration value="N">
      </xsd:enumeration>
      <xsd:enumeration value="U">
      </xsd:enumeration>
      <xsd:enumeration value="K">
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Compression">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="DF">
      </xsd:enumeration>
      <xsd:enumeration value="GZ">
      </xsd:enumeration>
      <xsd:enumeration value="ZL">
      </xsd:enumeration>
      <xsd:enumeration value="Z">
      </xsd:enumeration>
      <xsd:enumeration value="BZ">
      </xsd:enumeration>
      <xsd:enumeration value="Z7">
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="IntegrityCheckAlgorithm">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SHA1">
      </xsd:enumeration>
      <xsd:enumeration value="SHA256">
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="TelecommunicationAddressUse">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="H">
      </xsd:enumeration>
      <xsd:enumeration value="HP">
      </xsd:enumeration>
      <xsd:enumeration value="HV">
      </xsd:enumeration>
      <xsd:enumeration value="WP">
      </xsd:enumeration>
      <xsd:enumeration value="DIR">
      </xsd:enumeration>
      <xsd:enumeration value="PUB">
      </xsd:enumeration>
      <xsd:enumeration value="BAD">
      </xsd:enumeration>
      <xsd:enumeration value="TMP">
      </xsd:enumeration>
      <xsd:enumeration value="AS">
      </xsd:enumeration>
      <xsd:enumeration value="EC">
      </xsd:enumeration>
      <xsd:enumeration value="MC">
      </xsd:enumeration>
      <xsd:enumeration value="PG">
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="set_TelecommunicationAddressUse">
    <xsd:list itemType="TelecommunicationAddressUse"/>
  </xsd:simpleType>

  <xsd:simpleType name="TelecommunicationCapability">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="voice">
      </xsd:enumeration>
      <xsd:enumeration value="fax">
      </xsd:enumeration>
      <xsd:enumeration value="data">
      </xsd:enumeration>
      <xsd:enumeration value="tty">
      </xsd:enumeration>
      <xsd:enumeration value="sms">
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="set_TelecommunicationCapability">
    <xsd:list itemType="TelecommunicationCapability"/>
  </xsd:simpleType>

  <xsd:simpleType name="IdentifierScope">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="BUSN">
      </xsd:enumeration>
      <xsd:enumeration value="OBJ">
      </xsd:enumeration>
      <xsd:enumeration value="VER">
      </xsd:enumeration>
      <xsd:enumeration value="VW">
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="IdentifierReliability">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ISS">
      </xsd:enumeration>
      <xsd:enumeration value="VRF"/>
      <xsd:enumeration value="UNV">
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="AddressPartType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="AL">
      </xsd:enumeration>
      <xsd:enumeration value="ADL">
      </xsd:enumeration>
      <xsd:enumeration value="UNID">
      </xsd:enumeration>
      <xsd:enumeration value="UNIT">
      </xsd:enumeration>
      <xsd:enumeration value="DAL">
      </xsd:enumeration>
      <xsd:enumeration value="DINST">
      </xsd:enumeration>
      <xsd:enumeration value="DINSTA">
      </xsd:enumeration>
      <xsd:enumeration value="DINSTQ">
      </xsd:enumeration>
      <xsd:enumeration value="DMOD">
      </xsd:enumeration>
      <xsd:enumeration value="DMODID">
      </xsd:enumeration>
      <xsd:enumeration value="SAL">
      </xsd:enumeration>
      <xsd:enumeration value="BNR">
      </xsd:enumeration>
      <xsd:enumeration value="BNN">
      </xsd:enumeration>
      <xsd:enumeration value="BNS">
      </xsd:enumeration>
      <xsd:enumeration value="STR">
      </xsd:enumeration>
      <xsd:enumeration value="STB">
      </xsd:enumeration>
      <xsd:enumeration value="STTYP">
      </xsd:enumeration>
      <xsd:enumeration value="DIR">
      </xsd:enumeration>
      <xsd:enumeration value="INT">
      </xsd:enumeration>
      <xsd:enumeration value="CAR">
      </xsd:enumeration>
      <xsd:enumeration value="CEN">
      </xsd:enumeration>
      <xsd:enumeration value="CNT">
      </xsd:enumeration>
      <xsd:enumeration value="CPA">
      </xsd:enumeration>
      <xsd:enumeration value="CTY">
      </xsd:enumeration>
      <xsd:enumeration value="DEL">
      </xsd:enumeration>
      <xsd:enumeration value="POB">
      </xsd:enumeration>
      <xsd:enumeration value="PRE">
      </xsd:enumeration>
      <xsd:enumeration value="STA">
      </xsd:enumeration>
      <xsd:enumeration value="ZIP">
      </xsd:enumeration>
      <xsd:enumeration value="DPID">
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="PostalAddressUse">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="H">
      </xsd:enumeration>
      <xsd:enumeration value="HP">
      </xsd:enumeration>
      <xsd:enumeration value="HV">
      </xsd:enumeration>
      <xsd:enumeration value="WP">
      </xsd:enumeration>
      <xsd:enumeration value="DIR">
      </xsd:enumeration>
      <xsd:enumeration value="PUB">
      </xsd:enumeration>
      <xsd:enumeration value="BAD">
      </xsd:enumeration>
      <xsd:enumeration value="PHYS">
      </xsd:enumeration>
      <xsd:enumeration value="PST">
      </xsd:enumeration>
      <xsd:enumeration value="TMP">
      </xsd:enumeration>
      <xsd:enumeration value="ABC">
      </xsd:enumeration>
      <xsd:enumeration value="IDE">
      </xsd:enumeration>
      <xsd:enumeration value="SYL">
      </xsd:enumeration>
      <xsd:enumeration value="SRCH">
      </xsd:enumeration>
      <xsd:enumeration value="SNDX">
      </xsd:enumeration>
      <xsd:enumeration value="PHON">
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="set_PostalAddressUse">
    <xsd:list itemType="PostalAddressUse"/>
  </xsd:simpleType>

  <xsd:simpleType name="EntityNamePartType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="FAM">
      </xsd:enumeration>
      <xsd:enumeration value="GIV">
      </xsd:enumeration>
      <xsd:enumeration value="TITLE">
      </xsd:enumeration>
      <xsd:enumeration value="DEL">
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="EntityNamePartQualifier">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="LS">
      </xsd:enumeration>
      <xsd:enumeration value="AC">
      </xsd:enumeration>
      <xsd:enumeration value="NB">
      </xsd:enumeration>
      <xsd:enumeration value="PR">
      </xsd:enumeration>
      <xsd:enumeration value="HON">
      </xsd:enumeration>
      <xsd:enumeration value="BR">
      </xsd:enumeration>
      <xsd:enumeration value="AD">
      </xsd:enumeration>
      <xsd:enumeration value="SP">
      </xsd:enumeration>
      <xsd:enumeration value="MID">
      </xsd:enumeration>
      <xsd:enumeration value="CL">
      </xsd:enumeration>
      <xsd:enumeration value="IN">
      </xsd:enumeration>
      <xsd:enumeration value="PFX">
      </xsd:enumeration>
      <xsd:enumeration value="SFX">
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="set_EntityNamePartQualifier">
    <xsd:list itemType="EntityNamePartQualifier"/>
  </xsd:simpleType>

  <xsd:simpleType name="EntityNameUse">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ABC">
      </xsd:enumeration>
      <xsd:enumeration value="SYL">
      </xsd:enumeration>
      <xsd:enumeration value="IDE">
      </xsd:enumeration>
      <xsd:enumeration value="C">
      </xsd:enumeration>
      <xsd:enumeration value="OR">
      </xsd:enumeration>
      <xsd:enumeration value="T">
      </xsd:enumeration>
      <xsd:enumeration value="I">
      </xsd:enumeration>
      <xsd:enumeration value="P">
      </xsd:enumeration>
      <xsd:enumeration value="ANON">
      </xsd:enumeration>
      <xsd:enumeration value="A">
      </xsd:enumeration>
      <xsd:enumeration value="R">
      </xsd:enumeration>
      <xsd:enumeration value="OLD">
      </xsd:enumeration>
      <xsd:enumeration value="DN">
      </xsd:enumeration>
      <xsd:enumeration value="M">
      </xsd:enumeration>
      <xsd:enumeration value="SRCH">
      </xsd:enumeration>
      <xsd:enumeration value="PHON">
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="set_EntityNameUse">
    <xsd:list itemType="EntityNameUse"/>
  </xsd:simpleType>

  <xsd:simpleType name="CalendarCycle">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CY"/>
      <xsd:enumeration value="MY"/>
      <xsd:enumeration value="CM"/>
      <xsd:enumeration value="CW"/>
      <xsd:enumeration value="WM"/>
      <xsd:enumeration value="WY"/>
      <xsd:enumeration value="DM"/>
      <xsd:enumeration value="CD"/>
      <xsd:enumeration value="DY"/>
      <xsd:enumeration value="DW"/>
      <xsd:enumeration value="HD"/>
      <xsd:enumeration value="CH"/>
      <xsd:enumeration value="NH"/>
      <xsd:enumeration value="CN"/>
      <xsd:enumeration value="SN"/>
      <xsd:enumeration value="CS"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="TimingEvent">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="HS">
      </xsd:enumeration>
      <xsd:enumeration value="WAKE">
      </xsd:enumeration>
      <xsd:enumeration value="AC">
      </xsd:enumeration>
      <xsd:enumeration value="ACM">
      </xsd:enumeration>
      <xsd:enumeration value="ACD">
      </xsd:enumeration>
      <xsd:enumeration value="ACV">
      </xsd:enumeration>
      <xsd:enumeration value="IC">
      </xsd:enumeration>
      <xsd:enumeration value="ICM">
      </xsd:enumeration>
      <xsd:enumeration value="ICD">
      </xsd:enumeration>
      <xsd:enumeration value="ICV">
      </xsd:enumeration>
      <xsd:enumeration value="PC">
      </xsd:enumeration>
      <xsd:enumeration value="PCM">
      </xsd:enumeration>
      <xsd:enumeration value="PCD">
      </xsd:enumeration>
      <xsd:enumeration value="PCV">
      </xsd:enumeration>
      <xsd:enumeration value="C">
      </xsd:enumeration>
      <xsd:enumeration value="CM">
      </xsd:enumeration>
      <xsd:enumeration value="CD">
      </xsd:enumeration>
      <xsd:enumeration value="CV">
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="CodingRationale">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="O">
      </xsd:enumeration>
      <xsd:enumeration value="P">
      </xsd:enumeration>
      <xsd:enumeration value="R">
      </xsd:enumeration>
      <xsd:enumeration value="OR">
      </xsd:enumeration>
      <xsd:enumeration value="PR">
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="set_CodingRationale">
    <xsd:list itemType="CodingRationale"/>
  </xsd:simpleType>

  <xsd:simpleType name="UncertaintyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="U">
      </xsd:enumeration>
      <xsd:enumeration value="N">
      </xsd:enumeration>
      <xsd:enumeration value="LN">
      </xsd:enumeration>
      <xsd:enumeration value="G">
      </xsd:enumeration>
      <xsd:enumeration value="E">
      </xsd:enumeration>
      <xsd:enumeration value="X2">
      </xsd:enumeration>
      <xsd:enumeration value="T">
      </xsd:enumeration>
      <xsd:enumeration value="F">
      </xsd:enumeration>
      <xsd:enumeration value="B">
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="StrucDoc.Frame">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="void">
      </xsd:enumeration>
      <xsd:enumeration value="above">
      </xsd:enumeration>
      <xsd:enumeration value="below">
      </xsd:enumeration>
      <xsd:enumeration value="hsides">
      </xsd:enumeration>
      <xsd:enumeration value="lhs">
      </xsd:enumeration>
      <xsd:enumeration value="rhs">
      </xsd:enumeration>
      <xsd:enumeration value="vsides">
      </xsd:enumeration>
      <xsd:enumeration value="box">
      </xsd:enumeration>
      <xsd:enumeration value="border">
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="StrucDoc.Rules">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="none">
      </xsd:enumeration>
      <xsd:enumeration value="groups">
      </xsd:enumeration>
      <xsd:enumeration value="rows">
      </xsd:enumeration>
      <xsd:enumeration value="cols">
      </xsd:enumeration>
      <xsd:enumeration value="all">
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="StrucDoc.Align">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="left">
      </xsd:enumeration>
      <xsd:enumeration value="center">
      </xsd:enumeration>
      <xsd:enumeration value="right">
      </xsd:enumeration>
      <xsd:enumeration value="justify">
      </xsd:enumeration>
      <xsd:enumeration value="char">
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="StrucDoc.VAlign">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="top">
      </xsd:enumeration>
      <xsd:enumeration value="middle">
      </xsd:enumeration>
      <xsd:enumeration value="bottom">
      </xsd:enumeration>
      <xsd:enumeration value="baseline">
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="StrucDoc.CellScope">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="row">
      </xsd:enumeration>
      <xsd:enumeration value="col">
      </xsd:enumeration>
      <xsd:enumeration value="rowgroup">
      </xsd:enumeration>
      <xsd:enumeration value="colgroup">
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="StrucDoc.Revised">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="insert">
      </xsd:enumeration>
      <xsd:enumeration value="delete">
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="StrucDoc.ListType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ordered"/>
      <xsd:enumeration value="unordered"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Uid">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:simpleType name="Uri">
    <xsd:restriction base="xsd:anyURI"/>
  </xsd:simpleType>

  <xsd:simpleType name="Code">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:complexType name="BL">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:attribute name="value" type="xsd:boolean" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ANY">
    <xsd:complexContent>
      <xsd:extension base="HXIT">
        <xsd:attribute name="nullFlavor" type="NullFlavor" use="optional">
        </xsd:attribute>
        <xsd:attribute name="flavorId" type="xsd:string" use="optional">
        </xsd:attribute>
        <xsd:attribute name="updateMode" type="UpdateMode" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType abstract="true" name="HXIT">
    <xsd:attribute name="validTimeLow" type="xsd:string" use="optional">
    </xsd:attribute>
    <xsd:attribute name="validTimeHigh" type="xsd:string" use="optional">
    </xsd:attribute>
    <xsd:attribute name="controlInformationRoot" type="Uid" use="optional">
    </xsd:attribute>
    <xsd:attribute name="controlInformationExtension" type="xsd:string" use="optional">
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="ED">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="data" type="xsd:base64Binary">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="xml" type="xsd:anyType">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="reference" type="TEL">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="integrityCheck" type="xsd:base64Binary">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="thumbnail" type="ED">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="description" type="ST">
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="translation" type="ED">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="value" type="xsd:string" use="optional">
        </xsd:attribute>
        <xsd:attribute default="text/plain" name="mediaType" type="xsd:string" use="optional">
        </xsd:attribute>
        <xsd:attribute name="charset" type="Code" use="optional">
        </xsd:attribute>
        <xsd:attribute name="language" type="Code" use="optional">
        </xsd:attribute>
        <xsd:attribute name="compression" type="Compression" use="optional">
        </xsd:attribute>
        <xsd:attribute name="integrityCheckAlgorithm" type="IntegrityCheckAlgorithm" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TEL">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="useablePeriod" type="QSET_TS">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="value" type="xsd:anyURI" use="optional">
        </xsd:attribute>
        <xsd:attribute name="use" type="set_TelecommunicationAddressUse" use="optional">
        </xsd:attribute>
        <xsd:attribute name="capabilities" type="set_TelecommunicationCapability" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType abstract="true" name="QSET_TS">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="originalText" type="ED">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ST">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="translation" type="ST">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="value" type="xsd:string" use="optional">
        </xsd:attribute>
        <xsd:attribute name="language" type="Code" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SC">
    <xsd:complexContent>
      <xsd:extension base="ST">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="code" type="CD">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CD">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="displayName" type="ST">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="originalText" type="ED">
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="translation" type="CD">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="source" type="XReference">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="code" type="xsd:string" use="optional">
        </xsd:attribute>
        <xsd:attribute name="codeSystem" type="Uid" use="optional">
        </xsd:attribute>
        <xsd:attribute name="codeSystemName" type="xsd:string" use="optional">
        </xsd:attribute>
        <xsd:attribute name="codeSystemVersion" type="xsd:string" use="optional">
        </xsd:attribute>
        <xsd:attribute name="valueSet" type="Uid" use="optional">
        </xsd:attribute>
        <xsd:attribute name="valueSetVersion" type="xsd:string" use="optional">
        </xsd:attribute>
        <xsd:attribute name="codingRationale" type="CodingRationale" use="optional">
        </xsd:attribute>
        <xsd:attribute name="id" type="xsd:ID" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="XReference">
    <xsd:attribute name="xref" type="xsd:IDREF" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="II">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:attribute name="root" type="Uid" use="optional">
        </xsd:attribute>
        <xsd:attribute name="extension" type="xsd:string" use="optional">
        </xsd:attribute>
        <xsd:attribute name="identifierName" type="xsd:string" use="optional">
        </xsd:attribute>
        <xsd:attribute name="displayable" type="xsd:boolean" use="optional">
        </xsd:attribute>
        <xsd:attribute name="scope" type="IdentifierScope" use="optional">
        </xsd:attribute>
        <xsd:attribute name="reliability" type="IdentifierReliability" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CO">
    <xsd:complexContent>
      <xsd:extension base="QTY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="code" type="CD">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="value" type="Decimal" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType abstract="true" name="QTY">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="expression" type="ED">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="originalText" type="ED">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="uncertainty" type="QTY">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="uncertainRange" type="IVL_QTY">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="uncertaintyType" type="UncertaintyType" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="IVL_QTY">
    <xsd:complexContent>
      <xsd:extension base="QSET_QTY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="low" type="QTY">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="high" type="QTY">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="width" type="QTY">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="any" type="QTY">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="lowClosed" type="xsd:boolean" use="optional">
        </xsd:attribute>
        <xsd:attribute name="highClosed" type="xsd:boolean" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType abstract="true" name="QSET_QTY">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="originalText" type="ED">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:simpleType name="Decimal">
    <xsd:restriction base="xsd:double"/>
  </xsd:simpleType>

  <xsd:complexType name="CS">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:attribute name="code" type="xsd:string" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AD">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="part" type="ADXP">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="useablePeriod" type="QSET_TS">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="use" type="set_PostalAddressUse" use="optional">
        </xsd:attribute>
        <xsd:attribute default="false" name="isNotOrdered" type="xsd:boolean" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ADXP">
    <xsd:complexContent>
      <xsd:extension base="XP">
        <xsd:attribute name="type" type="AddressPartType" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="XP">
    <xsd:attribute name="nullFlavor" type="NullFlavor" use="optional">
    </xsd:attribute>
    <xsd:attribute name="value" type="xsd:string" use="optional">
    </xsd:attribute>
    <xsd:attribute name="code" type="xsd:string" use="optional">
    </xsd:attribute>
    <xsd:attribute name="codeSystem" type="xsd:string" use="optional">
    </xsd:attribute>
    <xsd:attribute name="codeSystemVersion" type="xsd:string" use="optional">
    </xsd:attribute>
    <xsd:attribute name="language" type="Code" use="optional">
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="EN">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="part" type="ENXP">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="use" type="set_EntityNameUse" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ENXP">
    <xsd:complexContent>
      <xsd:extension base="XP">
        <xsd:attribute name="type" type="EntityNamePartType" use="optional">
        </xsd:attribute>
        <xsd:attribute name="qualifier" type="set_EntityNamePartQualifier" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TS">
    <xsd:complexContent>
      <xsd:extension base="QTY">
        <xsd:attribute name="value" use="optional">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:pattern value="[1-2][0-9]{3,3}(((0[1-9])|(1[0-2]))(((0[1-9])|([1-2][0-9])|(3[0-1]))((([0-1][0-9])|(2[0-3]))(([0-5][0-9])(([0-5][0-9])(\.[0-9]{1,4})?)?)?)?)?)?([+\-](0[0-9]|1[0-3])([0-5][0-9]))?"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="RTO">
    <xsd:complexContent>
      <xsd:extension base="QTY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="numerator" type="QTY">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="denominator" type="QTY">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="MO">
    <xsd:complexContent>
      <xsd:extension base="QTY">
        <xsd:attribute name="value" type="Decimal" use="optional">
        </xsd:attribute>
        <xsd:attribute name="currency" type="Code" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PQ">
    <xsd:complexContent>
      <xsd:extension base="QTY">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="translation" type="PQR">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="value" type="Decimal" use="optional">
        </xsd:attribute>
        <xsd:attribute name="unit" type="Code" use="optional">
        </xsd:attribute>
        <xsd:attribute name="codingRationale" type="CodingRationale" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PQR">
    <xsd:complexContent>
      <xsd:extension base="CD">
        <xsd:attribute name="value" type="Decimal" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="REAL">
    <xsd:complexContent>
      <xsd:extension base="QTY">
        <xsd:attribute name="value" type="Decimal" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="INT">
    <xsd:complexContent>
      <xsd:extension base="QTY">
        <xsd:attribute name="value" type="xsd:int" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QSI_TS">
    <xsd:complexContent>
      <xsd:extension base="QSET_TS">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="term" type="QSET_TS">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType mixed="true" name="SD.TEXT">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:choice maxOccurs="unbounded" minOccurs="0">
            <xsd:element name="footnote" type="StrucDoc.Footnote"/>
            <xsd:element name="footnoteRef" type="StrucDoc.FootnoteRef"/>
            <xsd:element name="linkHtml" type="StrucDoc.LinkHtml">
            </xsd:element>
            <xsd:element name="sub" type="StrucDoc.Sub">
            </xsd:element>
            <xsd:element name="sup" type="StrucDoc.Sup">
            </xsd:element>
            <xsd:element name="content" type="StrucDoc.Content">
            </xsd:element>
            <xsd:element name="br" type="StrucDoc.Br">
            </xsd:element>
            <xsd:element name="renderMultiMedia" type="StrucDoc.RenderMultiMedia">
            </xsd:element>
            <xsd:element name="paragraph" type="StrucDoc.Paragraph">
            </xsd:element>
            <xsd:element name="list" type="StrucDoc.List">
            </xsd:element>
            <xsd:element name="table" type="StrucDoc.Table">
            </xsd:element>
          </xsd:choice>
        </xsd:sequence>
        <xsd:attribute name="ID" type="xsd:ID" use="optional"/>
        <xsd:attribute name="language" type="Code" use="optional"/>
        <xsd:attribute name="styleCode" type="set_Code" use="optional"/>
        <xsd:attribute default="text/x-hl7-text+xml" name="mediaType" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:simpleType name="XmlID">
    <xsd:restriction base="xsd:ID"/>
  </xsd:simpleType>

  <xsd:simpleType name="set_Code">
    <xsd:list itemType="Code"/>
  </xsd:simpleType>

  <xsd:complexType mixed="true" name="StrucDoc.Footnote">
    <xsd:sequence>
      <xsd:choice maxOccurs="unbounded" minOccurs="0">
        <xsd:element name="footnote" type="StrucDoc.Footnote"/>
        <xsd:element name="footnoteRef" type="StrucDoc.FootnoteRef"/>
        <xsd:element name="linkHtml" type="StrucDoc.LinkHtml">
        </xsd:element>
        <xsd:element name="sub" type="StrucDoc.Sub">
        </xsd:element>
        <xsd:element name="sup" type="StrucDoc.Sup">
        </xsd:element>
        <xsd:element name="content" type="StrucDoc.Content">
        </xsd:element>
        <xsd:element name="br" type="StrucDoc.Br">
        </xsd:element>
        <xsd:element name="renderMultiMedia" type="StrucDoc.RenderMultiMedia">
        </xsd:element>
        <xsd:element name="paragraph" type="StrucDoc.Paragraph">
        </xsd:element>
        <xsd:element name="list" type="StrucDoc.List">
        </xsd:element>
        <xsd:element name="table" type="StrucDoc.Table">
        </xsd:element>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attributeGroup ref="StrucDoc.Base"/>
  </xsd:complexType>

  <xsd:attributeGroup name="StrucDoc.Base">
    <xsd:attribute name="ID" type="xsd:ID" use="optional"/>
    <xsd:attribute name="language" type="Code" use="optional"/>
    <xsd:attribute name="styleCode" type="set_Code" use="optional"/>
  </xsd:attributeGroup>

  <xsd:complexType name="StrucDoc.FootnoteRef">
    <xsd:attribute name="IDREF" type="xsd:IDREF" use="optional">
    </xsd:attribute>
    <xsd:attributeGroup ref="StrucDoc.Base"/>
  </xsd:complexType>

  <xsd:simpleType name="XmlIDREF">
    <xsd:restriction base="xsd:IDREF"/>
  </xsd:simpleType>

  <xsd:complexType mixed="true" name="StrucDoc.LinkHtml">
    <xsd:sequence>
      <xsd:choice maxOccurs="unbounded" minOccurs="0">
        <xsd:element name="footnote" type="StrucDoc.Footnote"/>
        <xsd:element name="footnoteRef" type="StrucDoc.FootnoteRef"/>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" use="optional"/>
    <xsd:attribute name="href" type="xsd:string" use="optional">
    </xsd:attribute>
    <xsd:attribute name="rel" type="xsd:string" use="optional">
    </xsd:attribute>
    <xsd:attribute name="rev" type="xsd:string" use="optional">
    </xsd:attribute>
    <xsd:attribute name="title" type="xsd:string" use="optional">
    </xsd:attribute>
    <xsd:attributeGroup ref="StrucDoc.Base"/>
  </xsd:complexType>

  <xsd:complexType mixed="true" name="StrucDoc.Sub">
  </xsd:complexType>

  <xsd:complexType mixed="true" name="StrucDoc.Sup">
  </xsd:complexType>

  <xsd:complexType mixed="true" name="StrucDoc.Content">
    <xsd:sequence>
      <xsd:choice maxOccurs="unbounded" minOccurs="0">
        <xsd:element name="footnote" type="StrucDoc.Footnote"/>
        <xsd:element name="footnoteRef" type="StrucDoc.FootnoteRef"/>
        <xsd:element name="linkHtml" type="StrucDoc.LinkHtml">
        </xsd:element>
        <xsd:element name="sub" type="StrucDoc.Sub">
        </xsd:element>
        <xsd:element name="sup" type="StrucDoc.Sup">
        </xsd:element>
        <xsd:element name="content" type="StrucDoc.Content">
        </xsd:element>
        <xsd:element name="br" type="StrucDoc.Br">
        </xsd:element>
        <xsd:element name="renderMultiMedia" type="StrucDoc.RenderMultiMedia">
        </xsd:element>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="revised" type="StrucDoc.Revised" use="optional">
    </xsd:attribute>
    <xsd:attributeGroup ref="StrucDoc.Base"/>
  </xsd:complexType>

  <xsd:complexType name="StrucDoc.Br">
  </xsd:complexType>

  <xsd:complexType name="StrucDoc.RenderMultiMedia">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="caption" type="StrucDoc.Caption">
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="referencedObject" type="set_IDREF" use="optional">
    </xsd:attribute>
    <xsd:attributeGroup ref="StrucDoc.Base"/>
  </xsd:complexType>

  <xsd:complexType mixed="true" name="StrucDoc.Caption">
    <xsd:sequence>
      <xsd:choice maxOccurs="unbounded" minOccurs="0">
        <xsd:element name="footnote" type="StrucDoc.Footnote"/>
        <xsd:element name="footnoteRef" type="StrucDoc.FootnoteRef"/>
        <xsd:element name="linkHtml" type="StrucDoc.LinkHtml">
        </xsd:element>
        <xsd:element name="sub" type="StrucDoc.Sub">
        </xsd:element>
        <xsd:element name="sup" type="StrucDoc.Sup">
        </xsd:element>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attributeGroup ref="StrucDoc.Base"/>
  </xsd:complexType>

  <xsd:simpleType name="set_IDREF">
    <xsd:list itemType="xsd:IDREF"/>
  </xsd:simpleType>

  <xsd:complexType mixed="true" name="StrucDoc.Paragraph">
    <xsd:complexContent>
      <xsd:extension base="StrucDoc.Captioned">
        <xsd:sequence>
          <xsd:choice maxOccurs="unbounded" minOccurs="0">
            <xsd:element name="footnote" type="StrucDoc.Footnote"/>
            <xsd:element name="footnoteRef" type="StrucDoc.FootnoteRef"/>
            <xsd:element name="linkHtml" type="StrucDoc.LinkHtml">
            </xsd:element>
            <xsd:element name="sub" type="StrucDoc.Sub">
            </xsd:element>
            <xsd:element name="sup" type="StrucDoc.Sup">
            </xsd:element>
            <xsd:element name="content" type="StrucDoc.Content">
            </xsd:element>
            <xsd:element name="br" type="StrucDoc.Br">
            </xsd:element>
            <xsd:element name="renderMultiMedia" type="StrucDoc.RenderMultiMedia">
            </xsd:element>
          </xsd:choice>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType mixed="true" name="StrucDoc.Captioned">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="caption" type="StrucDoc.Caption">
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="StrucDoc.Base"/>
  </xsd:complexType>

  <xsd:complexType mixed="true" name="StrucDoc.List">
    <xsd:complexContent>
      <xsd:extension base="StrucDoc.Captioned">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="StrucDoc.Item"/>
        </xsd:sequence>
        <xsd:attribute name="listType" type="StrucDoc.ListType" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType mixed="true" name="StrucDoc.Item">
    <xsd:complexContent>
      <xsd:extension base="StrucDoc.Captioned">
        <xsd:sequence>
          <xsd:choice maxOccurs="unbounded" minOccurs="0">
            <xsd:element name="footnote" type="StrucDoc.Footnote"/>
            <xsd:element name="footnoteRef" type="StrucDoc.FootnoteRef"/>
            <xsd:element name="linkHtml" type="StrucDoc.LinkHtml">
            </xsd:element>
            <xsd:element name="sub" type="StrucDoc.Sub">
            </xsd:element>
            <xsd:element name="sup" type="StrucDoc.Sup">
            </xsd:element>
            <xsd:element name="content" type="StrucDoc.Content">
            </xsd:element>
            <xsd:element name="br" type="StrucDoc.Br">
            </xsd:element>
            <xsd:element name="renderMultiMedia" type="StrucDoc.RenderMultiMedia">
            </xsd:element>
            <xsd:element name="paragraph" type="StrucDoc.Paragraph">
            </xsd:element>
            <xsd:element name="list" type="StrucDoc.List">
            </xsd:element>
            <xsd:element name="table" type="StrucDoc.Table">
            </xsd:element>
          </xsd:choice>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType mixed="true" name="StrucDoc.Table">
    <xsd:complexContent>
      <xsd:extension base="StrucDoc.Captioned">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="col" type="StrucDoc.Col"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="colgroup" type="StrucDoc.ColGroup"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="thead" type="StrucDoc.TRowGroup"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tfoot" type="StrucDoc.TRowGroup"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="tbody" type="StrucDoc.TRowGroup"/>
        </xsd:sequence>
        <xsd:attribute name="summary" type="xsd:string" use="optional">
        </xsd:attribute>
        <xsd:attribute name="width" type="StrucDoc.Length" use="optional">
        </xsd:attribute>
        <xsd:attribute name="border" type="StrucDoc.Length" use="optional">
        </xsd:attribute>
        <xsd:attribute name="frame" type="StrucDoc.Frame" use="optional">
        </xsd:attribute>
        <xsd:attribute name="rules" type="StrucDoc.Rules" use="optional">
        </xsd:attribute>
        <xsd:attribute name="cellspacing" type="StrucDoc.Length" use="optional">
        </xsd:attribute>
        <xsd:attribute name="cellpadding" type="StrucDoc.Length" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="StrucDoc.Col">
    <xsd:complexContent>
      <xsd:extension base="StrucDoc.ColItem"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="StrucDoc.ColItem">
    <xsd:complexContent>
      <xsd:extension base="StrucDoc.TableItem">
        <xsd:attribute default="1" name="span" type="xsd:int" use="optional">
        </xsd:attribute>
        <xsd:attribute name="width" type="StrucDoc.Length" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="StrucDoc.TableItem">
    <xsd:attribute name="align" type="StrucDoc.Align" use="optional">
    </xsd:attribute>
    <xsd:attribute name="char" type="xsd:string" use="optional">
    </xsd:attribute>
    <xsd:attribute name="charoff" type="StrucDoc.Length" use="optional">
    </xsd:attribute>
    <xsd:attribute name="valign" type="StrucDoc.VAlign" use="optional">
    </xsd:attribute>
    <xsd:attributeGroup ref="StrucDoc.Base"/>
  </xsd:complexType>

  <xsd:simpleType name="StrucDoc.Length">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:complexType name="StrucDoc.ColGroup">
    <xsd:complexContent>
      <xsd:extension base="StrucDoc.ColItem">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="col" type="StrucDoc.Col"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="StrucDoc.TRowGroup">
    <xsd:complexContent>
      <xsd:extension base="StrucDoc.TableItem">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="tr" type="StrucDoc.TRow">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="StrucDoc.TRow">
    <xsd:complexContent>
      <xsd:extension base="StrucDoc.TableItem">
        <xsd:sequence>
          <xsd:choice maxOccurs="unbounded" minOccurs="0">
            <xsd:element name="th" type="StrucDoc.TCell"/>
            <xsd:element name="td" type="StrucDoc.TCell"/>
          </xsd:choice>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType mixed="true" name="StrucDoc.TCell">
    <xsd:complexContent>
      <xsd:extension base="StrucDoc.TableItem">
        <xsd:sequence>
          <xsd:choice maxOccurs="unbounded" minOccurs="0">
            <xsd:element name="footnote" type="StrucDoc.Footnote"/>
            <xsd:element name="footnoteRef" type="StrucDoc.FootnoteRef"/>
            <xsd:element name="linkHtml" type="StrucDoc.LinkHtml">
            </xsd:element>
            <xsd:element name="sub" type="StrucDoc.Sub">
            </xsd:element>
            <xsd:element name="sup" type="StrucDoc.Sup">
            </xsd:element>
            <xsd:element name="content" type="StrucDoc.Content">
            </xsd:element>
            <xsd:element name="br" type="StrucDoc.Br">
            </xsd:element>
            <xsd:element name="renderMultiMedia" type="StrucDoc.RenderMultiMedia">
            </xsd:element>
            <xsd:element name="paragraph" type="StrucDoc.Paragraph">
            </xsd:element>
            <xsd:element name="list" type="StrucDoc.List">
            </xsd:element>
            <xsd:element name="table" type="StrucDoc.Table">
            </xsd:element>
          </xsd:choice>
        </xsd:sequence>
        <xsd:attribute name="abbr" type="xsd:string" use="optional">
        </xsd:attribute>
        <xsd:attribute name="axis" type="xsd:string" use="optional">
        </xsd:attribute>
        <xsd:attribute name="headers" type="set_IDREF" use="optional">
        </xsd:attribute>
        <xsd:attribute name="scope" type="StrucDoc.CellScope" use="optional">
        </xsd:attribute>
        <xsd:attribute default="1" name="rowspan" type="xsd:int" use="optional">
        </xsd:attribute>
        <xsd:attribute default="1" name="colspan" type="xsd:int" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType mixed="true" name="SD.TITLE">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:choice maxOccurs="unbounded" minOccurs="0">
            <xsd:element name="footnote" type="StrucDoc.TitleFootnote"/>
            <xsd:element name="footnoteRef" type="StrucDoc.FootnoteRef"/>
            <xsd:element name="br" type="StrucDoc.Br"/>
            <xsd:element name="linkHtml" type="StrucDoc.LinkHtml"/>
            <xsd:element name="sub" type="StrucDoc.Sub"/>
            <xsd:element name="sup" type="StrucDoc.Sup"/>
            <xsd:element name="content" type="StrucDoc.CMTitle"/>
          </xsd:choice>
        </xsd:sequence>
        <xsd:attribute name="ID" type="xsd:ID" use="optional"/>
        <xsd:attribute name="language" type="Code" use="optional"/>
        <xsd:attribute name="styleCode" type="set_Code" use="optional"/>
        <xsd:attribute default="text/x-hl7-text+xml" name="mediaType" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType mixed="true" name="StrucDoc.TitleFootnote">
    <xsd:sequence>
      <xsd:choice maxOccurs="unbounded" minOccurs="0">
        <xsd:element name="footnote" type="StrucDoc.TitleFootnote"/>
        <xsd:element name="footnoteRef" type="StrucDoc.FootnoteRef"/>
        <xsd:element name="br" type="StrucDoc.Br"/>
        <xsd:element name="linkHtml" type="StrucDoc.LinkHtml"/>
        <xsd:element name="sub" type="StrucDoc.Sub"/>
        <xsd:element name="sup" type="StrucDoc.Sup"/>
        <xsd:element name="content" type="StrucDoc.CMTitle"/>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attributeGroup ref="StrucDoc.Base"/>
  </xsd:complexType>

  <xsd:complexType mixed="true" name="StrucDoc.CMTitle">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="footnote" type="StrucDoc.TitleFootnote"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="footnoteRef" type="StrucDoc.FootnoteRef"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="br" type="StrucDoc.Br"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="linkHtml" type="StrucDoc.LinkHtml"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="sub" type="StrucDoc.Sub"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="sup" type="StrucDoc.Sup"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="content" type="StrucDoc.CMTitle"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DSET_BL">
    <xsd:complexContent>
      <xsd:extension base="COLL_BL">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="BL">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType abstract="true" name="COLL_BL">
    <xsd:complexContent>
      <xsd:extension base="ANY"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DSET_ED">
    <xsd:complexContent>
      <xsd:extension base="COLL_ED">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="ED">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType abstract="true" name="COLL_ED">
    <xsd:complexContent>
      <xsd:extension base="ANY"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DSET_ST">
    <xsd:complexContent>
      <xsd:extension base="COLL_ST">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="ST">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType abstract="true" name="COLL_ST">
    <xsd:complexContent>
      <xsd:extension base="ANY"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DSET_SC">
    <xsd:complexContent>
      <xsd:extension base="COLL_SC">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="SC">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType abstract="true" name="COLL_SC">
    <xsd:complexContent>
      <xsd:extension base="ANY"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DSET_TEL">
    <xsd:complexContent>
      <xsd:extension base="COLL_TEL">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="TEL">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType abstract="true" name="COLL_TEL">
    <xsd:complexContent>
      <xsd:extension base="ANY"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DSET_II">
    <xsd:complexContent>
      <xsd:extension base="COLL_II">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="II">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType abstract="true" name="COLL_II">
    <xsd:complexContent>
      <xsd:extension base="ANY"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DSET_CD">
    <xsd:complexContent>
      <xsd:extension base="COLL_CD">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="CD">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType abstract="true" name="COLL_CD">
    <xsd:complexContent>
      <xsd:extension base="ANY"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DSET_CO">
    <xsd:complexContent>
      <xsd:extension base="COLL_CO">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="CO">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType abstract="true" name="COLL_CO">
    <xsd:complexContent>
      <xsd:extension base="ANY"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DSET_CS">
    <xsd:complexContent>
      <xsd:extension base="COLL_CS">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="CS">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType abstract="true" name="COLL_CS">
    <xsd:complexContent>
      <xsd:extension base="ANY"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DSET_AD">
    <xsd:complexContent>
      <xsd:extension base="COLL_AD">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="AD">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType abstract="true" name="COLL_AD">
    <xsd:complexContent>
      <xsd:extension base="ANY"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DSET_EN">
    <xsd:complexContent>
      <xsd:extension base="COLL_EN">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="EN">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType abstract="true" name="COLL_EN">
    <xsd:complexContent>
      <xsd:extension base="ANY"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DSET_TS">
    <xsd:complexContent>
      <xsd:extension base="COLL_TS">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="TS">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType abstract="true" name="COLL_TS">
    <xsd:complexContent>
      <xsd:extension base="ANY"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DSET_RTO">
    <xsd:complexContent>
      <xsd:extension base="COLL_RTO">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="RTO">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType abstract="true" name="COLL_RTO">
    <xsd:complexContent>
      <xsd:extension base="ANY"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DSET_MO">
    <xsd:complexContent>
      <xsd:extension base="COLL_MO">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="MO">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType abstract="true" name="COLL_MO">
    <xsd:complexContent>
      <xsd:extension base="ANY"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DSET_PQ">
    <xsd:complexContent>
      <xsd:extension base="COLL_PQ">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="PQ">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType abstract="true" name="COLL_PQ">
    <xsd:complexContent>
      <xsd:extension base="ANY"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DSET_REAL">
    <xsd:complexContent>
      <xsd:extension base="COLL_REAL">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="REAL">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType abstract="true" name="COLL_REAL">
    <xsd:complexContent>
      <xsd:extension base="ANY"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DSET_INT">
    <xsd:complexContent>
      <xsd:extension base="COLL_INT">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="INT">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType abstract="true" name="COLL_INT">
    <xsd:complexContent>
      <xsd:extension base="ANY"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BAG_BL">
    <xsd:complexContent>
      <xsd:extension base="COLL_BL">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="BL">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BAG_ED">
    <xsd:complexContent>
      <xsd:extension base="COLL_ED">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="ED">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BAG_ST">
    <xsd:complexContent>
      <xsd:extension base="COLL_ST">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="ST">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BAG_SC">
    <xsd:complexContent>
      <xsd:extension base="COLL_SC">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="SC">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BAG_TEL">
    <xsd:complexContent>
      <xsd:extension base="COLL_TEL">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="TEL">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BAG_II">
    <xsd:complexContent>
      <xsd:extension base="COLL_II">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="II">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BAG_CD">
    <xsd:complexContent>
      <xsd:extension base="COLL_CD">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="CD">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BAG_CO">
    <xsd:complexContent>
      <xsd:extension base="COLL_CO">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="CO">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BAG_CS">
    <xsd:complexContent>
      <xsd:extension base="COLL_CS">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="CS">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BAG_AD">
    <xsd:complexContent>
      <xsd:extension base="COLL_AD">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="AD">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BAG_EN">
    <xsd:complexContent>
      <xsd:extension base="COLL_EN">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="EN">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BAG_TS">
    <xsd:complexContent>
      <xsd:extension base="COLL_TS">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="TS">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BAG_RTO">
    <xsd:complexContent>
      <xsd:extension base="COLL_RTO">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="RTO">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BAG_MO">
    <xsd:complexContent>
      <xsd:extension base="COLL_MO">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="MO">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BAG_PQ">
    <xsd:complexContent>
      <xsd:extension base="COLL_PQ">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="PQ">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BAG_REAL">
    <xsd:complexContent>
      <xsd:extension base="COLL_REAL">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="REAL">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="BAG_INT">
    <xsd:complexContent>
      <xsd:extension base="COLL_INT">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="INT">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LIST_BL">
    <xsd:complexContent>
      <xsd:extension base="COLL_BL">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="BL">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LIST_ED">
    <xsd:complexContent>
      <xsd:extension base="COLL_ED">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="ED">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LIST_ST">
    <xsd:complexContent>
      <xsd:extension base="COLL_ST">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="ST">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LIST_SC">
    <xsd:complexContent>
      <xsd:extension base="COLL_SC">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="SC">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LIST_TEL">
    <xsd:complexContent>
      <xsd:extension base="COLL_TEL">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="TEL">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LIST_II">
    <xsd:complexContent>
      <xsd:extension base="COLL_II">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="II">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LIST_CD">
    <xsd:complexContent>
      <xsd:extension base="COLL_CD">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="CD">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LIST_CO">
    <xsd:complexContent>
      <xsd:extension base="COLL_CO">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="CO">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LIST_CS">
    <xsd:complexContent>
      <xsd:extension base="COLL_CS">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="CS">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LIST_AD">
    <xsd:complexContent>
      <xsd:extension base="COLL_AD">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="AD">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LIST_EN">
    <xsd:complexContent>
      <xsd:extension base="COLL_EN">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="EN">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LIST_TS">
    <xsd:complexContent>
      <xsd:extension base="COLL_TS">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="TS">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LIST_RTO">
    <xsd:complexContent>
      <xsd:extension base="COLL_RTO">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="RTO">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LIST_MO">
    <xsd:complexContent>
      <xsd:extension base="COLL_MO">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="MO">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LIST_PQ">
    <xsd:complexContent>
      <xsd:extension base="COLL_PQ">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="PQ">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LIST_REAL">
    <xsd:complexContent>
      <xsd:extension base="COLL_REAL">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="REAL">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LIST_INT">
    <xsd:complexContent>
      <xsd:extension base="COLL_INT">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="INT">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SLIST_TS">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="origin" type="TS">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="scale" type="QTY">
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="digit" type="INT">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SLIST_PQ">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="origin" type="PQ">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="scale" type="QTY">
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="digit" type="INT">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SLIST_REAL">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="origin" type="REAL">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="scale" type="QTY">
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="digit" type="INT">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SLIST_INT">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="origin" type="INT">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="scale" type="QTY">
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="digit" type="INT">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GLIST_TS">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="head" type="TS">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="increment" type="QTY">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="denominator" type="xsd:int" use="optional">
        </xsd:attribute>
        <xsd:attribute name="period" type="xsd:int" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GLIST_PQ">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="head" type="PQ">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="increment" type="QTY">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="denominator" type="xsd:int" use="optional">
        </xsd:attribute>
        <xsd:attribute name="period" type="xsd:int" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GLIST_REAL">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="head" type="REAL">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="increment" type="QTY">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="denominator" type="xsd:int" use="optional">
        </xsd:attribute>
        <xsd:attribute name="period" type="xsd:int" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="IVL_CO">
    <xsd:complexContent>
      <xsd:extension base="QSET_CO">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="low" type="CO">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="high" type="CO">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="width" type="QTY">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="any" type="CO">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="lowClosed" type="xsd:boolean" use="optional">
        </xsd:attribute>
        <xsd:attribute name="highClosed" type="xsd:boolean" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType abstract="true" name="QSET_CO">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="originalText" type="ED">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="IVL_TS">
    <xsd:complexContent>
      <xsd:extension base="QSET_TS">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="low" type="TS">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="high" type="TS">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="width" type="QTY">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="any" type="TS">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="lowClosed" type="xsd:boolean" use="optional">
        </xsd:attribute>
        <xsd:attribute name="highClosed" type="xsd:boolean" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="IVL_MO">
    <xsd:complexContent>
      <xsd:extension base="QSET_MO">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="low" type="MO">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="high" type="MO">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="width" type="QTY">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="any" type="MO">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="lowClosed" type="xsd:boolean" use="optional">
        </xsd:attribute>
        <xsd:attribute name="highClosed" type="xsd:boolean" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType abstract="true" name="QSET_MO">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="originalText" type="ED">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="IVL_PQ">
    <xsd:complexContent>
      <xsd:extension base="QSET_PQ">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="low" type="PQ">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="high" type="PQ">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="width" type="QTY">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="any" type="PQ">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="lowClosed" type="xsd:boolean" use="optional">
        </xsd:attribute>
        <xsd:attribute name="highClosed" type="xsd:boolean" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType abstract="true" name="QSET_PQ">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="originalText" type="ED">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="IVL_REAL">
    <xsd:complexContent>
      <xsd:extension base="QSET_REAL">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="low" type="REAL">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="high" type="REAL">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="width" type="QTY">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="any" type="REAL">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="lowClosed" type="xsd:boolean" use="optional">
        </xsd:attribute>
        <xsd:attribute name="highClosed" type="xsd:boolean" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType abstract="true" name="QSET_REAL">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="originalText" type="ED">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="IVL_INT">
    <xsd:complexContent>
      <xsd:extension base="QSET_INT">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="low" type="INT">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="high" type="INT">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="width" type="QTY">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="any" type="INT">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="lowClosed" type="xsd:boolean" use="optional">
        </xsd:attribute>
        <xsd:attribute name="highClosed" type="xsd:boolean" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType abstract="true" name="QSET_INT">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="originalText" type="ED">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QSD_TS">
    <xsd:complexContent>
      <xsd:extension base="QSET_TS">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="minuend" type="QSET_TS">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="subtrahend" type="QSET_TS">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QSU_TS">
    <xsd:complexContent>
      <xsd:extension base="QSET_TS">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="term" type="QSET_TS">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QSP_TS">
    <xsd:complexContent>
      <xsd:extension base="QSET_TS">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="low" type="QSET_TS">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="high" type="QSET_TS">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QSS_TS">
    <xsd:complexContent>
      <xsd:extension base="QSET_TS">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="term" type="TS">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QSC_TS">
    <xsd:complexContent>
      <xsd:extension base="QSET_TS">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="code" type="CD">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PIVL_TS">
    <xsd:complexContent>
      <xsd:extension base="QSET_TS">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="phase" type="IVL_TS">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="period" type="PQ">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="frequency" type="RTO">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="count" type="INT">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="alignment" type="CalendarCycle" use="optional">
        </xsd:attribute>
        <xsd:attribute name="isFlexible" type="xsd:boolean" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="EIVL_TS">
    <xsd:complexContent>
      <xsd:extension base="QSET_TS">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="offset" type="IVL_PQ">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="event" type="TimingEvent" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QSD_PQ">
    <xsd:complexContent>
      <xsd:extension base="QSET_PQ">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="minuend" type="QSET_PQ">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="subtrahend" type="QSET_PQ">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QSI_PQ">
    <xsd:complexContent>
      <xsd:extension base="QSET_PQ">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="term" type="QSET_PQ">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="QSU_PQ">
    <xsd:complexContent>
      <xsd:extension base="QSET_PQ">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="term" type="QSET_PQ">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QSP_PQ">
    <xsd:complexContent>
      <xsd:extension base="QSET_PQ">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="low" type="QSET_PQ">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="high" type="QSET_PQ">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QSS_PQ">
    <xsd:complexContent>
      <xsd:extension base="QSET_PQ">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="term" type="PQ">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="NPPD_BL">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="UVP_BL">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UVP_BL">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="value" type="BL">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="probability" type="Decimal" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="NPPD_ED">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="UVP_ED">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UVP_ED">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="value" type="ED">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="probability" type="Decimal" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="NPPD_ST">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="UVP_ST">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UVP_ST">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="value" type="ST">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="probability" type="Decimal" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="NPPD_SC">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="UVP_SC">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UVP_SC">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="value" type="SC">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="probability" type="Decimal" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="NPPD_TEL">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="UVP_TEL">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UVP_TEL">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="value" type="TEL">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="probability" type="Decimal" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="NPPD_II">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="UVP_II">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UVP_II">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="value" type="II">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="probability" type="Decimal" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="NPPD_CD">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="UVP_CD">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UVP_CD">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="value" type="CD">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="probability" type="Decimal" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="NPPD_CO">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="UVP_CO">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UVP_CO">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="value" type="CO">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="probability" type="Decimal" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="NPPD_CS">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="UVP_CS">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UVP_CS">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="value" type="CS">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="probability" type="Decimal" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="NPPD_AD">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="UVP_AD">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UVP_AD">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="value" type="AD">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="probability" type="Decimal" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="NPPD_EN">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="UVP_EN">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UVP_EN">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="value" type="EN">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="probability" type="Decimal" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="NPPD_TS">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="UVP_TS">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UVP_TS">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="value" type="TS">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="probability" type="Decimal" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="NPPD_RTO">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="UVP_RTO">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UVP_RTO">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="value" type="RTO">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="probability" type="Decimal" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="NPPD_MO">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="UVP_MO">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UVP_MO">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="value" type="MO">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="probability" type="Decimal" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="NPPD_PQ">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="UVP_PQ">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UVP_PQ">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="value" type="PQ">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="probability" type="Decimal" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="NPPD_REAL">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="UVP_REAL">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UVP_REAL">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="value" type="REAL">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="probability" type="Decimal" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="NPPD_INT">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="UVP_INT">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UVP_INT">
    <xsd:complexContent>
      <xsd:extension base="ANY">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="value" type="INT">
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="probability" type="Decimal" use="optional">
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="HIST_BL">
    <xsd:complexContent>
      <xsd:extension base="LIST_BL"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="HIST_ED">
    <xsd:complexContent>
      <xsd:extension base="LIST_ED"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="HIST_ST">
    <xsd:complexContent>
      <xsd:extension base="LIST_ST"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="HIST_SC">
    <xsd:complexContent>
      <xsd:extension base="LIST_SC"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="HIST_TEL">
    <xsd:complexContent>
      <xsd:extension base="LIST_TEL"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="HIST_II">
    <xsd:complexContent>
      <xsd:extension base="LIST_II"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="HIST_CD">
    <xsd:complexContent>
      <xsd:extension base="LIST_CD"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="HIST_CO">
    <xsd:complexContent>
      <xsd:extension base="LIST_CO"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="HIST_CS">
    <xsd:complexContent>
      <xsd:extension base="LIST_CS"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="HIST_AD">
    <xsd:complexContent>
      <xsd:extension base="LIST_AD"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="HIST_EN">
    <xsd:complexContent>
      <xsd:extension base="LIST_EN"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="HIST_TS">
    <xsd:complexContent>
      <xsd:extension base="LIST_TS"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="HIST_RTO">
    <xsd:complexContent>
      <xsd:extension base="LIST_RTO"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="HIST_MO">
    <xsd:complexContent>
      <xsd:extension base="LIST_MO"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="HIST_PQ">
    <xsd:complexContent>
      <xsd:extension base="LIST_PQ"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="HIST_REAL">
    <xsd:complexContent>
      <xsd:extension base="LIST_REAL"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="HIST_INT">
    <xsd:complexContent>
      <xsd:extension base="LIST_INT"/>
    </xsd:complexContent>
  </xsd:complexType>

</xsd:schema>
