editor-models/generated-models/src/main/resources/xsd/vmr/datatypes.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:cdsdt:r2" xmlns:dt="urn:hl7-org:cdsdt:r2" targetNamespace="urn:hl7-org:cdsdt:r2" elementFormDefault="qualified">
	<xs:complexType name="AD">
		<xs:complexContent>
			<xs:extension base="ANY">
				<xs:sequence>
					<xs:element name="part" type="ADXP" maxOccurs="unbounded">
					</xs:element>
				</xs:sequence>
				<xs:attribute name="use" type="set_PostalAddressUse" use="optional">
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="AddressPartType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AL">
			</xs:enumeration>
			<xs:enumeration value="ADL">
			</xs:enumeration>
			<xs:enumeration value="UNID">
			</xs:enumeration>
			<xs:enumeration value="UNIT">
			</xs:enumeration>
			<xs:enumeration value="DAL">
			</xs:enumeration>
			<xs:enumeration value="DINST">
			</xs:enumeration>
			<xs:enumeration value="DINSTA">
			</xs:enumeration>
			<xs:enumeration value="DINSTQ">
			</xs:enumeration>
			<xs:enumeration value="DMOD">
			</xs:enumeration>
			<xs:enumeration value="DMODID">
			</xs:enumeration>
			<xs:enumeration value="SAL">
			</xs:enumeration>
			<xs:enumeration value="BNR">
			</xs:enumeration>
			<xs:enumeration value="BNN">
			</xs:enumeration>
			<xs:enumeration value="BNS">
			</xs:enumeration>
			<xs:enumeration value="STR">
			</xs:enumeration>
			<xs:enumeration value="STB">
			</xs:enumeration>
			<xs:enumeration value="STTYP">
			</xs:enumeration>
			<xs:enumeration value="DIR">
			</xs:enumeration>
			<xs:enumeration value="INT">
			</xs:enumeration>
			<xs:enumeration value="CAR">
			</xs:enumeration>
			<xs:enumeration value="CEN">
			</xs:enumeration>
			<xs:enumeration value="CNT">
			</xs:enumeration>
			<xs:enumeration value="CPA">
			</xs:enumeration>
			<xs:enumeration value="CTY">
			</xs:enumeration>
			<xs:enumeration value="DEL">
			</xs:enumeration>
			<xs:enumeration value="POB">
			</xs:enumeration>
			<xs:enumeration value="PRE">
			</xs:enumeration>
			<xs:enumeration value="STA">
			</xs:enumeration>
			<xs:enumeration value="ZIP">
			</xs:enumeration>
			<xs:enumeration value="DPID">
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ADXP">
		<xs:complexContent>
			<xs:extension base="XP">
				<xs:attribute name="type" type="AddressPartType" use="required">
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ANY" abstract="true">
		<xs:complexContent>
			<xs:extension base="HXIT"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BL">
		<xs:complexContent>
			<xs:extension base="ANY">
				<xs:attribute name="value" type="xs:boolean" use="required">
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="CalendarCycle">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CY">
			</xs:enumeration>
			<xs:enumeration value="MY">
			</xs:enumeration>
			<xs:enumeration value="CM">
			</xs:enumeration>
			<xs:enumeration value="CW">
			</xs:enumeration>
			<xs:enumeration value="WM">
			</xs:enumeration>
			<xs:enumeration value="WY">
			</xs:enumeration>
			<xs:enumeration value="DM">
			</xs:enumeration>
			<xs:enumeration value="CD">
			</xs:enumeration>
			<xs:enumeration value="DY">
			</xs:enumeration>
			<xs:enumeration value="DW">
			</xs:enumeration>
			<xs:enumeration value="HD">
			</xs:enumeration>
			<xs:enumeration value="CH">
			</xs:enumeration>
			<xs:enumeration value="NH">
			</xs:enumeration>
			<xs:enumeration value="CN">
			</xs:enumeration>
			<xs:enumeration value="SN">
			</xs:enumeration>
			<xs:enumeration value="CS">
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CD">
		<xs:complexContent>
			<xs:extension base="ANY">
				<xs:sequence>
					<xs:element name="displayName" type="ST" minOccurs="0">
					</xs:element>
					<xs:element name="originalText" type="ST" minOccurs="0">
					</xs:element>
					<xs:element name="translation" type="CD" minOccurs="0" maxOccurs="unbounded">
					</xs:element>
				</xs:sequence>
				<xs:attribute name="code" type="Code" use="optional">
				</xs:attribute>
				<xs:attribute name="codeSystem" type="Uid" use="optional">
				</xs:attribute>
				<xs:attribute name="codeSystemName" type="xs:string" use="optional">
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CO">
		<xs:complexContent>
			<xs:extension base="QTY">
				<xs:sequence>
					<xs:element name="code" type="CD" minOccurs="0">
					</xs:element>
				</xs:sequence>
				<xs:attribute name="value" type="Decimal" use="optional">
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Code">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Compression">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DF">
			</xs:enumeration>
			<xs:enumeration value="GZ">
			</xs:enumeration>
			<xs:enumeration value="ZL">
			</xs:enumeration>
			<xs:enumeration value="Z">
			</xs:enumeration>
			<xs:enumeration value="BZ">
			</xs:enumeration>
			<xs:enumeration value="Z7">
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CS">
		<xs:complexContent>
			<xs:extension base="ANY">
				<xs:attribute name="code" type="xs:string" use="required">
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Decimal">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:complexType name="ED">
		<xs:complexContent>
			<xs:extension base="ANY">
				<xs:sequence>
					<xs:element name="data" type="xs:base64Binary" minOccurs="0">
					</xs:element>
					<xs:element name="xml" type="xs:anyType" minOccurs="0">
					</xs:element>
					<xs:element name="reference" type="TEL" minOccurs="0">
					</xs:element>
					<xs:element name="integrityCheck" type="xs:base64Binary" minOccurs="0">
					</xs:element>
					<xs:element name="description" type="ST" minOccurs="0">
					</xs:element>
				</xs:sequence>
				<xs:attribute name="value" type="xs:string" use="optional">
				</xs:attribute>
				<xs:attribute name="mediaType" type="Code" use="optional" default="text/plain">
				</xs:attribute>
				<xs:attribute name="charset" type="Code" use="optional">
				</xs:attribute>
				<xs:attribute name="language" type="Code" use="optional">
				</xs:attribute>
				<xs:attribute name="compression" type="Compression" use="optional">
				</xs:attribute>
				<xs:attribute name="integrityCheckAlgorithm" type="IntegrityCheckAlgorithm" use="optional">
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EN">
		<xs:complexContent>
			<xs:extension base="ANY">
				<xs:sequence>
					<xs:element name="part" type="ENXP" maxOccurs="unbounded">
					</xs:element>
				</xs:sequence>
				<xs:attribute name="use" type="set_EntityNameUse" use="optional">
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="EntityNamePartQualifier">
		<xs:restriction base="xs:string">
			<xs:enumeration value="LS">
			</xs:enumeration>
			<xs:enumeration value="AC">
			</xs:enumeration>
			<xs:enumeration value="NB">
			</xs:enumeration>
			<xs:enumeration value="PR">
			</xs:enumeration>
			<xs:enumeration value="HON">
			</xs:enumeration>
			<xs:enumeration value="BR">
			</xs:enumeration>
			<xs:enumeration value="AD">
			</xs:enumeration>
			<xs:enumeration value="SP">
			</xs:enumeration>
			<xs:enumeration value="MID">
			</xs:enumeration>
			<xs:enumeration value="CL">
			</xs:enumeration>
			<xs:enumeration value="IN">
			</xs:enumeration>
			<xs:enumeration value="PFX">
			</xs:enumeration>
			<xs:enumeration value="SFX">
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EntityNamePartType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FAM">
			</xs:enumeration>
			<xs:enumeration value="GIV">
			</xs:enumeration>
			<xs:enumeration value="TITLE">
			</xs:enumeration>
			<xs:enumeration value="DEL">
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EntityNameUse">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ABC">
			</xs:enumeration>
			<xs:enumeration value="IDE">
			</xs:enumeration>
			<xs:enumeration value="SYL">
			</xs:enumeration>
			<xs:enumeration value="C">
			</xs:enumeration>
			<xs:enumeration value="OR">
			</xs:enumeration>
			<xs:enumeration value="T">
			</xs:enumeration>
			<xs:enumeration value="I">
			</xs:enumeration>
			<xs:enumeration value="P">
			</xs:enumeration>
			<xs:enumeration value="ANON">
			</xs:enumeration>
			<xs:enumeration value="A">
			</xs:enumeration>
			<xs:enumeration value="R">
			</xs:enumeration>
			<xs:enumeration value="OLD">
			</xs:enumeration>
			<xs:enumeration value="DN">
			</xs:enumeration>
			<xs:enumeration value="M">
			</xs:enumeration>
			<xs:enumeration value="PHON">
			</xs:enumeration>
			<xs:enumeration value="SRCH">
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ENXP">
		<xs:complexContent>
			<xs:extension base="XP">
				<xs:attribute name="type" type="EntityNamePartType" use="required">
				</xs:attribute>
				<xs:attribute name="qualifier" type="set_EntityNamePartQualifier" use="optional">
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HXIT" abstract="true">
	</xs:complexType>
	<xs:complexType name="II">
		<xs:complexContent>
			<xs:extension base="ANY">
				<xs:attribute name="root" type="Uid" use="required">
				</xs:attribute>
				<xs:attribute name="extension" type="xs:string" use="optional">
				</xs:attribute>
				<xs:attribute name="identifierName" type="xs:string" use="optional">
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="INT">
		<xs:complexContent>
			<xs:extension base="QTY">
				<xs:attribute name="value" type="xs:integer" use="required">
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="IntegrityCheckAlgorithm">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SHA1">
			</xs:enumeration>
			<xs:enumeration value="SHA256">
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="IVL">
		<xs:complexContent>
			<xs:extension base="QSET"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IVL_CO">
		<xs:complexContent>
			<xs:extension base="IVL">
				<xs:sequence>
					<xs:element name="low" type="CO" minOccurs="0">
					</xs:element>
					<xs:element name="high" type="CO" minOccurs="0">
					</xs:element>
				</xs:sequence>
				<xs:attribute name="lowClosed" type="xs:boolean" use="optional">
				</xs:attribute>
				<xs:attribute name="highClosed" type="xs:boolean" use="optional">
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IVL_INT">
		<xs:complexContent>
			<xs:extension base="IVL">
				<xs:sequence>
					<xs:element name="low" type="INT" minOccurs="0">
					</xs:element>
					<xs:element name="high" type="INT" minOccurs="0">
					</xs:element>
				</xs:sequence>
				<xs:attribute name="lowClosed" type="xs:boolean" use="optional">
				</xs:attribute>
				<xs:attribute name="highClosed" type="xs:boolean" use="optional">
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IVL_PQ">
		<xs:complexContent>
			<xs:extension base="IVL">
				<xs:sequence>
					<xs:element name="low" type="PQ" minOccurs="0">
					</xs:element>
					<xs:element name="high" type="PQ" minOccurs="0">
					</xs:element>
				</xs:sequence>
				<xs:attribute name="lowClosed" type="xs:boolean" use="optional">
				</xs:attribute>
				<xs:attribute name="highClosed" type="xs:boolean" use="optional">
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IVL_QTY">
		<xs:complexContent>
			<xs:extension base="IVL">
				<xs:sequence>
					<xs:element name="low" type="QTY" minOccurs="0">
					</xs:element>
					<xs:element name="high" type="QTY" minOccurs="0">
					</xs:element>
				</xs:sequence>
				<xs:attribute name="lowClosed" type="xs:boolean" use="optional">
				</xs:attribute>
				<xs:attribute name="highClosed" type="xs:boolean" use="optional">
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IVL_REAL">
		<xs:complexContent>
			<xs:extension base="IVL">
				<xs:sequence>
					<xs:element name="low" type="REAL" minOccurs="0">
					</xs:element>
					<xs:element name="high" type="REAL" minOccurs="0">
					</xs:element>
				</xs:sequence>
				<xs:attribute name="lowClosed" type="xs:boolean" use="optional">
				</xs:attribute>
				<xs:attribute name="highClosed" type="xs:boolean" use="optional">
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IVL_TS">
		<xs:complexContent>
			<xs:extension base="IVL">
				<xs:sequence>
					<xs:element name="low" type="TS" minOccurs="0">
					</xs:element>
					<xs:element name="high" type="TS" minOccurs="0">
					</xs:element>
				</xs:sequence>
				<xs:attribute name="lowClosed" type="xs:boolean" use="optional">
				</xs:attribute>
				<xs:attribute name="highClosed" type="xs:boolean" use="optional">
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PIVL_TS">
		<xs:complexContent>
			<xs:extension base="QTY">
				<xs:sequence>
					<xs:element name="phase" type="IVL_TS" minOccurs="0">
					</xs:element>
					<xs:element name="period" type="PQ" minOccurs="0">
					</xs:element>
					<xs:element name="frequency" type="RTO" minOccurs="0">
					</xs:element>
					<xs:element name="count" type="INT" minOccurs="0">
					</xs:element>
				</xs:sequence>
				<xs:attribute name="alignment" type="CalendarCycle" use="optional"/>
				<xs:attribute name="isFlexible" type="xs:boolean" use="optional">
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="PostalAddressUse">
		<xs:restriction base="xs:string">
			<xs:enumeration value="H">
			</xs:enumeration>
			<xs:enumeration value="HP">
			</xs:enumeration>
			<xs:enumeration value="HV">
			</xs:enumeration>
			<xs:enumeration value="WP">
			</xs:enumeration>
			<xs:enumeration value="DIR">
			</xs:enumeration>
			<xs:enumeration value="PUB">
			</xs:enumeration>
			<xs:enumeration value="BAD">
			</xs:enumeration>
			<xs:enumeration value="PHYS">
			</xs:enumeration>
			<xs:enumeration value="PST">
			</xs:enumeration>
			<xs:enumeration value="TMP">
			</xs:enumeration>
			<xs:enumeration value="ABC">
			</xs:enumeration>
			<xs:enumeration value="IDE">
			</xs:enumeration>
			<xs:enumeration value="SYL">
			</xs:enumeration>
			<xs:enumeration value="SRCH">
			</xs:enumeration>
			<xs:enumeration value="SNDX">
			</xs:enumeration>
			<xs:enumeration value="PHON">
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PQ">
		<xs:complexContent>
			<xs:extension base="QTY">
				<xs:attribute name="value" type="Decimal" use="required">
				</xs:attribute>
				<xs:attribute name="unit" type="Code" use="required">
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="QSET" abstract="true">
		<xs:complexContent>
			<xs:extension base="ANY"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="QTY" abstract="true">
		<xs:complexContent>
			<xs:extension base="ANY"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="REAL">
		<xs:complexContent>
			<xs:extension base="QTY">
				<xs:attribute name="value" type="Decimal" use="required">
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RTO">
		<xs:complexContent>
			<xs:extension base="QTY">
				<xs:sequence>
					<xs:element name="numerator" type="QTY">
					</xs:element>
					<xs:element name="denominator" type="QTY">
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="set_EntityNamePartQualifier">
		<xs:list itemType="dt:EntityNamePartQualifier"/>
	</xs:simpleType>
	<xs:simpleType name="set_EntityNameUse">
		<xs:list itemType="dt:EntityNameUse"/>
	</xs:simpleType>
	<xs:simpleType name="set_PostalAddressUse">
		<xs:list itemType="dt:PostalAddressUse"/>
	</xs:simpleType>
	<xs:simpleType name="set_TelecommunicationAddressUse">
		<xs:list itemType="dt:TelecommunicationAddressUse"/>
	</xs:simpleType>
	<xs:simpleType name="set_TelecommunicationCapability">
		<xs:list itemType="dt:TelecommunicationCapability"/>
	</xs:simpleType>
	<xs:complexType name="ST">
		<xs:complexContent>
			<xs:extension base="ANY">
				<xs:attribute name="value" type="xs:string" use="required">
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TEL">
		<xs:complexContent>
			<xs:extension base="ANY">
				<xs:attribute name="value" type="xs:anyURI" use="required">
				</xs:attribute>
				<xs:attribute name="use" type="set_TelecommunicationAddressUse" use="optional">
				</xs:attribute>
				<xs:attribute name="capabilities" type="set_TelecommunicationCapability" use="optional">
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="TelecommunicationAddressUse">
		<xs:restriction base="xs:string">
			<xs:enumeration value="H">
			</xs:enumeration>
			<xs:enumeration value="HP">
			</xs:enumeration>
			<xs:enumeration value="HV">
			</xs:enumeration>
			<xs:enumeration value="WP">
			</xs:enumeration>
			<xs:enumeration value="DIR">
			</xs:enumeration>
			<xs:enumeration value="PUB">
			</xs:enumeration>
			<xs:enumeration value="BAD">
			</xs:enumeration>
			<xs:enumeration value="TMP">
			</xs:enumeration>
			<xs:enumeration value="AS">
			</xs:enumeration>
			<xs:enumeration value="EC">
			</xs:enumeration>
			<xs:enumeration value="MC">
			</xs:enumeration>
			<xs:enumeration value="PG">
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TelecommunicationCapability">
		<xs:restriction base="xs:string">
			<xs:enumeration value="voice">
			</xs:enumeration>
			<xs:enumeration value="fax">
			</xs:enumeration>
			<xs:enumeration value="data">
			</xs:enumeration>
			<xs:enumeration value="tty">
			</xs:enumeration>
			<xs:enumeration value="sms">
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TimeStamp">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-2][0-9]{3,3}(((0[1-9])|(1[0-2]))(((0[1-9])|([1-2][0-9])|(3[0-1]))((([0-1][0-9])|(2[0-3]))(([0-5][0-9])(([0-5][0-9])(\.[0-9]{1,4})?)?)?)?)?)?([+\-](0[0-9]|1[0-3])([0-5][0-9]))?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TS">
		<xs:complexContent>
			<xs:extension base="QTY">
				<xs:attribute name="value" type="TimeStamp" use="required">
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Uid">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Uri">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="XP">
		<xs:attribute name="value" type="xs:string" use="required">
		</xs:attribute>
	</xs:complexType>
</xs:schema>
